<div class="card-header">
  <div class="row">
    <div class="col-11">
      <p><%= link_to "Home", root_path, class:"home" %>
    </div>
    <div class="col-1">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class:"dropdown-item" %>
            <%= link_to "Sign Up", new_user_registration_path, class:"dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
</div>

